/nat/stunServer/target/
/nat/node/target/
/overlay-mngr/target/
/nat/core/target/
/nat/node/core/target/
/nat/simulation/target/
/nat/node-core/target/
/nat/stun-server/target/
/channel/target/

/nat/stun-server/*.log*
/nat/node-core/*.log*
/nat/simulation/*.log*

/nat/node-core/lib
/nat/stun-server/lib
